/* stylelint-disable */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.regions {
  display: grid;
  grid-template-columns: auto auto;

}
.northy {
    background-image: url('../assets/north.png');
  background-size: cover;
  font-size: 1.45em;
  font-weight: bold;
  display: flex;
  text-align: center;
  box-shadow: 2px 2px 16px 1px rgba(6, 58, 19, 0.3);
}

.southy { 
  background-image: url('../assets/south.png');
  background-size: cover;
  font-size: 1.3em;
  font-weight: bold;
  display: flex;
  text-align: center;
  box-shadow: 2px 2px 16px 1px rgba(15, 80, 18, 0.3);
}

.westy {
  background-image: url('../assets/west.png');
  background-size: cover;
  font-size: 1.35em;
  font-weight: bold;
  display: flex;
  text-align: center;
  box-shadow: 2px 2px 16px 1px rgba(31, 85, 26, 0.3);
}

.easty {
background-image: url('../assets/east.png');
  background-size: 200%;
  font-size: 1.35em;
  font-weight: bold;
  display: flex;
  text-align: center;
  box-shadow: 2px 2px 16px 1px rgba(12, 63, 29, 0.3);
}

.capitalCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  padding: 1em;
  border-radius: 1rem;
}

.capitalCard img {
  width: 100%;
}

.capitalCard p {
  margin: 0%;
  text-align: center;
}

.capitalCont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5em;
  padding: 1em 0;
}

.apCont .co h1 {
  margin: 0%;
  border-bottom: 3px solid black;
  border-radius: 2rem;
  width: 50%;
}

.apCont .co p {
  border: 1px solid black;
  border-radius: 1rem;
  padding: 0.5em;
  margin: 0.25em;
  font-size: 1.25em;
  width: 100%;
  box-shadow: 2px 2px 16px 1px rgba(13, 85, 25, 0.3);
}

.apCont .co {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
}

.filterBox {
  padding: 0.5em;
  font-size: 1.25em;
  width: 100%;
  background-color: white;
}



.northy,
.southy,
.easty,
.westy {
  display: flex;
  width: 100%;
  height: 250px;
  background-color: rgb(44, 141, 44);
  opacity:0.5 ;
  justify-content: center;
  align-items: center;
}

.regionImg {
  width: 100px;
}

.apCont {
  text-align: center;
  border-radius: 2rem;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.apCont .co h1 {
  margin: 0%;
  border-bottom: 3px solid black;
  border-radius: 2rem;
  width: 50%;
}

.apCont .co p {
  border: 1px solid black;
  border-radius: 1rem;
  padding: 0.5em;
  margin: 0.25em;
  font-size: 1.25em;
  width: 100%;
  box-shadow: 2px 2px 16px 1px rgba(0, 0, 0, 0.3);
}

.apCont .co {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
}

.filterBox {
  padding: 0.5em;
  font-size: 1.25em;
  width: 100%;
}