/* stylelint-disable */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.regions {
  display: grid;
  grid-template-columns: auto auto;

}
.northy {
    background-image: url('../assets/north.png');
}

.southy { 
  background-image: url('../assets/south.png');
}

.westy {
  background-image: url('../assets/west.png');
}

.easty {
background-image: url('../assets/east.png');
}

.capitalCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.capitalCard img {
  width: 100%;
}

.capitalCard p {
  margin: 0%;
  text-align: center;
  font-size: 20px;
}

.capitalCont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1em 0;
}

.apCont .co h1 {
  margin: 0%;
  border-bottom: 3px solid rgb(20, 116, 194);
  border-radius: 2rem;
  width: 50%;
  font-size: 1.2em;
}

.apCont .co p {
  border: 1px solid rgb(34, 128, 216);
  border-radius: 1rem;
  padding: 0.5em;
  margin: 0.25em;
  font-size: 1.25em;
  width: 100%;
  box-shadow: 2px 2px 16px 1px rgba(32, 78, 165, 0.3);
}

.apCont .co {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
  font-size: 20px;
}

.filterBox {
  padding: 0.3em;
  font-size: 1em;
  width: 100%;
  background-color: white;
  color: black;
}



.northy,
.southy,
.easty,
.westy {
  display: flex;
  width: 100%;
  height: 250px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background-blend-mode:color-burn;
  background-repeat: no-repeat;
  background-size: cover;
}

.apCont {
  text-align: center;
  border-radius: 2rem;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.apCont .co h1 {
  margin: 0%;
  border-bottom: 3px solid black;
  border-radius: 2rem;
  width: 50%;
}

.apCont .co p {
  border: 1px solid black;
  border-radius: 1rem;
  padding: 0.5em;
  margin: 0.25em;
  font-size: 1.25em;
  width: 100%;
  box-shadow: 2px 2px 16px 1px rgba(0, 0, 0, 0.3);
}


@media screen and (min-width: 992px) {
.regions {
  display: grid;
  grid-template-columns: auto auto;

}
.northy {
    background-image: url('../assets/north.png');
   width: 50%;
   border-image-repeat:unset;
}

.southy { 
  background-image: url('../assets/south.png');
}

.westy {
  background-image: url('../assets/west.png');
}

.easty {
background-image: url('../assets/east.png');
}

.capitalCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  padding: 1em;
  border-radius: 1rem;
}

.capitalCard img {
  width: 100%;
}

.capitalCard p {
  margin: 0%;
  text-align: center;
  font-size: 20px;
}

.capitalCont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5em;
  padding: 4em 0;
}

.apCont .co h1 {
  margin-bottom: 10px;
  border-bottom: 3px solid rgb(20, 116, 194);
  border-radius: 1rem;
  width: 50%;
}

.apCont .co p {
  border: 1px solid rgb(34, 128, 216);
  border-radius: 1rem;
  padding: 0.5em;
  margin: 0.25em;
  font-size: 1.25em;
  width: 100%;
  box-shadow: 2px 2px 16px 1px rgba(32, 78, 165, 0.3);
}

.apCont .co {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
  margin-bottom: 10px;
}

.filterBox {
  padding: 0.5em;
  font-size: 1em;
  width: 100%;
  background-color: white;
  color: black;
}
.northy,
.southy,
.easty,
.westy {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  background-blend-mode:color-burn;
}

.apCont {
  text-align: center;
  border-radius: 2rem;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.apCont .co h1 {
  margin: 0%;
  border-bottom: 3px solid black;
  border-radius: 1rem;
  width: 50%;
}

.apCont .co p {
  border: 1px solid black;
  border-radius: 1rem;
  padding: 0.5em;
  margin: 0.25em;
  font-size: 1em;
  width: 100%;
  box-shadow: 2px 2px 16px 1px rgba(0, 0, 0, 0.3);
}

}