/* stylelint-disable */
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom:  #4f91e7 solid 1px;
    padding: 0.3em 0.3em 0 0.3em;
    

}
.toHome{
    display: flex; 
}
@media screen and (min-width: 992px) {

}